// colors
med-grey = #333333
light-grey = #999999
off-white = #f8f8fa

// font sizing
base-font-size = 24px

// basic app dimensions
min-app-width = 1190px
max-content-height = 700px
max-content-width = 1000px


html
  box-sizing border-box

body
	font-family 'Helvetica'
	font-size base-font-size
	color med-grey
	margin 0
	padding 0
	border 0
	outline 0
	vertical-align baseline
	background off-white

.flex-center
	display flex
	justify-content center
	align-items center


#app-container
	width 100%
	min-width min-app-width
	position fixed
	top 0
	bottom 0

#header
	position relative
	height 100px
	padding 10px 0
	width 100%
	text-align center
	display block
	opacity .8
	z-index 4
	background off-white

	.h1-text
		font-size 90px
		font-weight 100

#gallery-container
	position fixed
	top 0
	padding-top 140px
	width 100%
	bottom 0
	overflow-y scroll

	#gallery-wrap
		position relative
		margin 0px auto
		width 100%
		height 100%

	#gallery
		margin 0px auto
		position relative
		z-index 1
		width min-app-width
		height 100%

		.thumb-block
			float left
			margin 10px
			height 150px
			width 150px
			display flex
			align-items center

			.photo-container
				margin 0px auto
				display flex
				align-items center
			img
				margin 0px auto
				box-shadow 8px 8px 10px light-grey
				&:hover
					cursor pointer
					box-shadow 12px 12px 10px light-grey
					transform translate(-2px, -2px)
					

#greyout
	position fixed
	width 100%
	height 100%
	display none
	background-color black
	opacity .85
	z-index 5

	&.visible
		display block


#lightbox-container
	position fixed
	bottom 0
	top 0
	width 100%
	z-index 10
	display none

	#close-button
		color white
		position absolute
		top 20px
		right 20px
		opacity .4
		cursor pointer
		z-index 20

		&:hover
			opacity 1

	#prev-button
		left 0px

	#next-button
		right 0px

	.arrow
		position fixed
		top 50%
		margin-top -40px
		font-size 70px
		color white
		opacity .7
		cursor pointer
		z-index 20

		&:hover
			opacity 1

	#content-box
		height max-content-height
		width max-content-width
		position fixed
		top 50%
		left 50%
		margin-top -(max-content-height / 2)
		margin-left -(max-content-width / 2)

	#image-box

		.photo-container
			height 100%

			img
				max-height max-content-height
				max-width max-content-width

			.title-box
				width 100%
				font-weight 300
				color white
				overflow hidden
				text-overflow ellipsis
				position relative
				height 1.6em
				margin-top -1.6em
				white-space nowrap
				background black
				opacity .7
				display none

				.title
					position absolute
					margin 4px 0px
					left 10px

		&:hover .title-box
			display block

	&.visible
		display block
	
	